@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.submitButton {
  margin-top: layout.$spacing-06;
  width: 18rem;

  :global(.cds--inline-loading) {
    min-height: layout.$spacing-05;
  }

  :global(.cds--inline-loading__text) {
    font-size: unset;
  }
}

.alignCenter {
  display: flex;
  text-align: center;
}

.panelItemContainer {
  a {
    @extend .alignCenter !optional;
    justify-content: space-between;
  }

  div {
    @extend .alignCenter !optional;
  }
}

