@import "../root.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: ($ui-01, 0.5);
  background-image: url("https://images.ctfassets.net/uq0sg0aynn6a/5Tz8lYuoggvRwuX4Kk3Bry/7c5bb2b8a7097d5e34636d9021a412dc/GettyImages_isometric_healthcare_objects.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $ui-01;
  opacity: 0.2;
}

.center {
  text-align: center;
}

.login-text {
  text-align: center;
  font-weight: bolder;
}

.logo {
  margin-bottom: 2.5rem;
  height: 13rem;
  width: 20rem;
}

.login-card-footer {
  margin-top: 1.5rem;
  color: #525252;
  font-weight: 500;
  display: flex;
}

.login-card-footer-icon {
  margin-right: 0.5rem;
}

.login-card-footer-content {
  display: flex;
  cursor: pointer;
  flex: auto;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.cant-login-text {
  // margin-top: 2rem;
  color: $danger;
  font-weight: bold;
  flex: auto;
}

.input-container-label {
  margin-right: 2rem;
  font-weight: 800;
}

.input-container-label-combo {
  margin-right: 2.5rem;
  font-weight: 800;
}

.logo-img {
  margin-bottom: 3rem;
  max-width: 100%;
}

.powered-by-txt {
  @extend .caption01;
  // text-align: center;
  color: $color-gray-70;
  color: $text-02;
}

.need-help {
  display: flex;
  width: 23rem;
}

.need-help-txt {
  @extend .bodyShort01;
  text-align: left;
  color: $text-02;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
}

.text-color-red {
  color: $danger;
}

.link {
  text-decoration-line: none;
  margin-left: 0.5rem;
}

.powered-by-logo {
  height: 2.5rem;
  width: 6.5rem;
}

.login-card {
  border-radius: 0;
  border: 1px solid $ui-03;
  background-color: $ui-02;
  max-width: 60rem;
  padding-top: 2.5rem;
  position: relative;
  min-height: 25rem;
  border-radius: 20px;
}

.powered-by-card {
  background-color: $ui-02;
  width: 75%;
  display: flex;
  border-radius: 2rem;
  min-height: 1rem;
  font-weight: bold;
  color: #525252;
  text-align: justify;
  padding: 0.2rem 1.2rem;
}
@media only screen and (min-width: 481px) {
  .container {
    height: 100vh;
  }
}

@media only screen and (max-width: 480px) {
  .login-card {
    margin-top: 2.5%;
    border: none;
  }
  .input-container {
    display: block;
  }
  .powered-by-card {
    width: auto;
  }
  .continueButton {
    margin-top: 1.5rem;
  }
  .logo {
    height: 5rem;
    width: 16rem;
  }

  .container {
    height: 100vh;
  }
}

.input-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 18rem;

  :global(.cds--text-input) {
    height: 3rem;
    @extend .label01;
  }

  :global(.cds--text-input__field-outer-wrapper) {
    width: 18rem;
  }
}

.input-group-custom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // width: 18rem;

  :global(.cds--text-input) {
    height: 3rem;
    @extend .label01;
  }

  :global(.cds--text-input__field-outer-wrapper) {
    width: 18rem;
  }
}

.continueButton {
  // margin-top: 1.5rem;
  width: 18rem;
  border-radius: 10px;
  justify-content: center;
  font-weight: bold;
}

.back-button-div {
  width: 23rem;
  position: absolute;
  bottom: 100%;
  left: 0;
}

.back-button {
  height: 3rem;
  padding-left: 0rem;

  svg {
    margin-right: 0.5rem;
    order: 1;
  }

  span {
    order: 2;
  }
}

.footer {
  bottom: 1.5rem;
  position: fixed;
  width: 100%;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.loader {
  min-height: fit-content;
}

.errorMessage {
  margin-bottom: 3rem;
  width: 23rem;
}
