@import "../root.scss";

.container {
  display: flex;
  align-items: center;
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  justify-content: center;
}

@media screen and (min-width: 1150px) {
  .container {
    max-width: 90%;
    background-size: contain;
    justify-content: right;
  }
  
  .login-card {
    margin-top: 2.5%;
    border: none;
  }
}

.center {
  text-align: center;
}

.logo {
  margin-bottom: 2rem;
  height: 7rem;
  width: 18.75rem;
}

.logo-img {
  margin-bottom: 3rem;
  max-width: 100%;
}

.powered-by-txt {
  @extend .caption01;
  text-align: center;
  color: $color-gray-70;
  color: $text-02;
}

.need-help {
  display: flex;
  width: 23rem;
}

.need-help-txt {
  @extend .bodyShort01;
  text-align: left;
  color: $text-02;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
}

.link {
  text-decoration-line: none;
  margin-left: 0.5rem;
}

.powered-by-logo {
  height: 2.5rem;
  width: 6.5rem;
}

.login-card {
  border-radius: 0;
  border: 1px solid $ui-03;
  background-color: $ui-02;
  width: 23rem;
  padding: 2.5rem;
  position: relative;
  min-height: 21.5rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}

.input-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 18rem;

  :global(.cds--text-input) {
    height: 3rem;
    @extend .label01;
  }

  :global(.cds--text-input__field-outer-wrapper) {
    width: 18rem;
  }
}

.continueButton {
  margin: 2rem 0;
  width: 18rem;
}

.back-button-div {
  width: 23rem;
  position: absolute;
  bottom: 100%;
  left: 0;
}

.back-button {
  height: 3rem;
  padding-left: 0rem;

  svg {
    margin-right: 0.5rem;
    order: 1;
  }

  span {
    order: 2;
  }
}

.footer {
  margin-top: 6.75rem;
}

.loader {
  min-height: fit-content;
}

.errorMessage {
  margin-bottom: 3rem;
  width: 18rem;
}
